@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
  --theme-color-1: #00A7E1;
  --theme-color-2: #363636;
  --navbar-background: #171717;
  --answer-background: #0a0a0a;
  --secondary-white: #ededed;
  --navbar-stripe-color: var(--theme-color-2);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #363636;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color-1);
  border-radius: 6px;
}